.img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  display: block;
  cursor: pointer;
}
.blockImages {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.hideBlockImages {
  max-height: 610px;
  overflow-y: scroll;
}
.hideBlockImages::-webkit-scrollbar {
  width: 0;
}
