.optionName {
  font-size: 18px;
  font-weight: 700;
}
.itemOption {
  border: 1px solid black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.options {
  display: flex;
  column-gap: 10px;
}
.block {
  margin-bottom: 24px;
}
.optionName {
  margin-bottom: 8px;
}
.itemOptionSwatch {
  cursor: pointer;
  position: relative;
  transition: 0.3s;
}
.selectedItemSwatch::before {
  content: "";
  position: absolute;
  border: 3px solid #5ece7b;
  top: -3.5px;
  left: -3.5px;
  bottom: -3.5px;
  right: -3.5px;
}
.selectedItemSwatch {
  transition: 0.5s;
}
.selectedItem {
  background-color: black;
  color: white;
}
