.orderedGoods {
  width: 325px;
  height: 600px;
  max-height: 600px;
  background-color: white;
  position: absolute;
  left: -298px;
  z-index: 999;
  top: 52px;
  pointer-events: none;
  opacity: 0;
  transition: 0.5s;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: scroll;
}
.orderedGoods::-webkit-scrollbar {
  width: 0;
}
.orderedGoodsOn {
  pointer-events: all;
  opacity: 1;
}
.numberOfGoods {
  font-size: 20px;
  margin-bottom: 32px;
}
.numberItemsSpan {
  font-weight: 400;
}
.items {
  margin-bottom: -10px;
}
.cartIsempty {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  height: 90%;
}
