.sectionNavigation {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sectionContainer {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px 0 31px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.listPageTitle {
  display: flex;
}
.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
