.sectionProductPage {
  min-height: calc(100vh - 80px);
}
.container {
  max-width: 1270px;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 auto;
}
.mainImg {
  max-width: 610px;
  max-height: 511px;
  object-fit: contain;
}
