.sectionNavigation {
}
.sectionContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}
.listPageTitle {
  display: flex;
}
.listPageTitle .pageTitle:not(:first-child) {
  margin-left: 10px;
}
