.sectionNavigation {
  height: 80px;
  display: flex;
  align-items: center;
}
.sectionContainer {
  max-width: 1200px;
  padding: 0 15px;
  box-sizing: border-box;
}
.listPageTitle {
  display: flex;
}
.pageTitle {
  font-size: 16px;
  font-weight: 400;
  transition: 0.5s;
}
.listPageTitle .pageTitle:not(:first-child) {
  margin-left: 16px;
}
.activePageTitle {
  font-weight: 600;
  color: #5ece7b;
  border-bottom: 2px solid #5ece7b;
}
