.navigation {
  position: relative;
  margin: 0 -16px;
  display: flex;
}
.borderCurrentLink {
  width: 97px;
  height: 2px;
  background-color: #5ece7b;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s;
}
