.name,
.brand {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 10px;
}
.price {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}
.good {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.img {
  width: 121px;
  height: 100%;
  object-fit: cover;
}
.options {
  width: 150px;
}
