.item {
  cursor: pointer;
}
.selectHeader {
  cursor: pointer;
  width: 38px;
  height: 29px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hideBodySelect {
  display: none;
}
.selectBody {
  position: absolute;
}
.select {
  position: relative;
  margin-right: 200px;
}
.arrow {
  color: wheat;
}
.activSelectArrow {
}
