.selectHeader {
  cursor: pointer;
  width: 30px;
  height: 29px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hideBodySelect {
  display: none;
}
.selectBody {
  position: absolute;
  left: -34px;
  box-shadow: 4px 13px 47px 0px #a8acb0;
}
.select {
  position: relative;
  margin-right: 22px;
}
.arrowWrap {
  transition: 0.4s;
  margin-bottom: 7px;
}
.activeArrowWrap {
  margin-top: 7px;
  transition: 0.4s;
  transform: rotate(180deg);
}
.currentSelect {
  font-size: 18px;
}
