.name,
.brand {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 10px;
}
.price {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}
.good {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.img {
  width: 121px;
  height: 100%;
  object-fit: cover;
  margin: auto 0;
}
.options {
  width: 150px;
}
.changeAmount {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 24px;
  height: 24px;
}
.amount {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.titleAmount {
  text-align: center;
}
.optionName {
  font-size: 18px;
  font-weight: 700;
}
.itemOption {
  border: 1px solid black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.options {
  display: flex;
  column-gap: 10px;
}
.block:not(:last-child) {
  margin-bottom: 24px;
}
.optionName {
  margin-bottom: 8px;
}
.itemOptionSwatch {
  cursor: pointer;
  position: relative;
  transition: 0.3s;
}

.selectedItemSwatch::before {
  content: "";
  position: absolute;
  border: 3px solid #5ece7b;
  top: -4px;
  left: -4px;
  bottom: -4px;
  right: -4px;
}
.selectedItemSwatch {
  transition: 0.5s;
}
.selectedItem {
  background-color: black;
  color: white;
}
